gunicorn
dj-database-url

Django==1.8.8
djangorestframework==3.3.2
django-rest-swagger==0.3.4
django-import-export==0.4.2
psycopg2-binary>=2.7.3
python-dateutil>=2.4.2

elasticsearch<2.0.0
django-haystack==2.4.1
geopy==1.11.0

raven==5.0.0

universal-analytics-python==0.2.4

go_http==0.2.6

